<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @registered_application.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @registered_application.url %>
</p>

<p>
  <strong>User:</strong>
  <%= @registered_application.user.email %>
</p>


<div class="row col-md-8">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Date Created</th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |name, evnts| %>
        <%= render evnts %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row col-md-8">
  <%= link_to 'Edit', edit_registered_application_path(@registered_application) %> |
  <%= link_to 'Back', registered_applications_path %>
</div>